.button {
  border: 2px solid #000000;
  background-color: #EEEEEE;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: 'Noto Naskh Arabic', serif;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  width: auto;
}
