.nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    list-style: none;
    padding: 0;
    gap: 0.5rem;

    a {
      padding: 0.5rem 1rem;
      color: $white;
      font-family: $heading_font;
      border: 2px solid $white;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;

      &:hover {
        background-color: $white;
        color: $dark_grey;
        transition: 0.5s;
      }
    }
  }
}
